* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$card-bg-color: hsl(0, 0%, 100%);
$app-bg-color: hsl(212, 45%, 89%);

$header-font-color: hsl(218, 44%, 22%);
$header-font-weight: 700;

$paragraph-font-color: hsl(220, 15%, 55%);
$paragraph-font-weight: 400;
$paragraph-font-size: 15px;
